
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

:root{
    /* Colors */
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--LightGrayishBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 1rem;
}

.main-container{
    background-color: var(--LightGrayishBlue);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    
}

.second-section{
    padding: 1rem;
    margin: 1rem;
}



.image-section img{
    width: 100%;
    margin-bottom: 2rem;
}

.first-paragraph{
    color: var(--DesaturatedDarkBlue);
    font-size: 16px;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 1.5;
}

.second-paragraph{
    color: var(--GrayishBlue);
    font-weight: 700;
    margin-bottom: 2rem;
}

.profile-section{
    display: flex;
}

.right-profileSection{
    display: flex;
}

.middle-profileSection{
    padding-right: 1rem ;
}

.avatar{
    width: 50px;
    border-radius: 25px;
    margin-right: 1rem;
}


.name{
    color: var(--DesaturatedDarkBlue);
    font-weight: 700;
}

.date{
    color: var(--GrayishBlue);
}

.name,
.date{
    white-space: nowrap;
}

.share-button{
    margin-left: auto;
    background: var(--GrayishBlue);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
}

.share-icon{
    width: 15px;
    height: auto;
    margin: 5px;
    padding: -5px;
}

@media (min-width: 1024px) {
    .main-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 800px;
        height: 300px;
    }

    .image-section{
        width: 40%;
        height: 100%;
        overflow: hidden;
    }

    .image-section figure{
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .image-section img{
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
    /* content section takes remaining space*/
    .second-section{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        margin: 0;
    }

    .profile-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
