
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

:root{
    /* Colors */
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--LightGrayishBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 1rem;
}

.main-container{
    background-color: var(--LightGrayishBlue);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    
}

.second-section{
    padding: 1rem;
    margin: 1rem;
}

.hero-img{
    width: 100%;
    margin-bottom: 2rem;
}

.first-paragraph{
    color: var(--DesaturatedDarkBlue);
    font-size: 16px;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 1.5;
}

.second-paragraph{
    color: var(--GrayishBlue);
    font-weight: 700;
    margin-bottom: 2rem;
}

.profile-section{
    display: flex;
}

.avatar{
    width: 50px;
    border-radius: 25px;
    margin-right: 1rem;
}

.middle-part{
    margin: 0 2rem 0 0 ;
}

.name{
    color: var(--DesaturatedDarkBlue);
    font-weight: 700;
}

.date{
    color: var(--GrayishBlue);
}

.share-button{
    margin-left: auto;
    background-color: var(--GrayishBlue);
    border: none;
    padding: 0 10px;
    border-radius: 50%;
    cursor: pointer;
}

.share-icon{
    width: 15px;
    height: auto;
    margin: ;
}
