
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

:root{
    /* Colors */
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--LightGrayishBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}